html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 200px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 100px;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
}

.contact-body {
  margin-top: 100px;
  margin-bottom: 100px;
  /* margin-left: 360px; */
}
.home {
  margin-top: 100px;
  margin-bottom: 200px;
  margin-left: 360px;
}
.answer-body {
  border: 2px solid#d5c9c9;
  border-radius: 8px;
  padding: 10px;
}

/*-------------------------------------------------------------------------------*/
.green {
  background-color: green;
}
.blue-option {
  background-color:#dadada;
}
.Demo__some-network {
  vertical-align: top;
  display: inline;
  /* margin-right: 30px; */
  text-align: center;
}
.Demo__some-network__share-button {
  cursor: pointer;
}
.Demo__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}

.quantity::-webkit-inner-spin-button,
.quantity::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-btn {
  width: "120px";
  height: "40px";
  padding: "0.65em";
  text-transform: "capitalize";
}
/*     file upload button */
.filelabel {
  padding: 10px;
  background: darkcyan;
  display: table;
  color: #fff;
}

input[type="file"] {
  display: none;
}

.card{
  border-radius: 30px
}
.btnClass{
  background-color: #2E86C1;
  color:white;
  outline: 0;
  border-color: white;

}
 li.active{
  background-color:#F0F3F4
}
.progress{
  padding-left:5px;
}
footer{
  background-color:gray
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}